<div id='app'>
  <div class='header'>
    <div class='title'>Chore Board</div>
    <div class='btn-container'>
      <div class='btn-segment side-a'></div>
      <div class='btn-segment side-b'></div>
      <div class='btn-segment side-c'></div>
      <div class='btn-segment side-d'></div>
      <i class='fa-solid fa-plus'></i>
    </div>
  </div>
  <div id='dropdowns'></div>
  <div id='chores' class='chores'></div>
</div>